.nav-menu a {
    padding: 0 8px 0px 8px;
    text-decoration: none;
    display: inline-block;
    color: #415094;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    outline: none;
}