.tags-input {
    border: 1px;
    display: inline-block;

}
.tags-input .input {
    font-size: 85%;
    padding: 0.5em 0.75em;
    margin: 0.25em 0.1em;
    display: inline-block;
    background-color: aqua;
    cursor: pointer;
}
.tags-input .tag:hover {
    background-color: greenyellow;
    color: #00b9d8;
}
.tags-input .tag .close::after {
    content: 'x';
    font-weight: bold;
    display: inline-block;
    transform: scale(1.4);
    margin-left: 0.75em;
}
.tags-input .input .close:hover::after {
    color: red;
}
#tag {
    background-color: yellow;
}
